<div class="card">
    <div class="card-body">

        {{#each errors}}
            <div class="alert alert-danger">{{text}}</div>
        {{else}}

        {{/each}}

        <h5 class="card-title">Edit Category</h5>
        <form action="" method="POST">
        <input type="hidden" name="id" value="{{category._id}}">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" placeholder="Category's Name" class="form-control" value="{{category.name}}"> 
            <label for="slug" class="mt-2">Slug</label>
            <input type="text" id="slug" name="slug" placeholder="Category's Slug" class="form-control" value="{{category.slug}}">
            <button type="submit" class="btn btn-success mt-2">Edit Category</button>
        </form>
    </div>
</div>