<h2>{{category}}</h2>
{{#each posts}}
<div class="card mt-4">
    <div class="card-body">
        <h4>{{title}}</h4>
        <hr>
        <p>{{description}}</p>
        <a href="/post/{{slug}}">
            <button class="btn btn-dark">Read More</button>
        </a>
        <hr>
        <small>Publish Date: {{date}}</small>
    </div>
</div>
{{else}}
<h5 class="mt-3">No post registered.</h5>
{{/each}}